
/* ========================================= Header ========================= */

.header {
    background-image: url(../img/bg-gioithieu.jpg);
    max-height: 50vh;
}

/* ========================================= Introduce ========================= */ 

.introduce {
    margin-top: 40px;
}

.introduce .title {
    padding:50px 0;
    font-size: 4.5rem;
    font-weight: 600;
}

.introduce .left {
    border: 1px solid #ccc;
    padding: 30px;
    line-height: 1.5;
}

.introduce .content {
    padding: 20px;
    border: 1px solid #ccc;
}

.introduce .content p {
    text-align: center;
    font-size: 2rem
}

.introduce .content li {
    list-style-type: decimal;
    line-height: 2;
}

.introduce .content li a {
    text-decoration: none;
    font-style: italic;
    color: #000;
}

.introduce .left h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.introduce .left h3 {
    font-size: 2rem;
    font-weight: bold;
}

.introduce .left p {
    text-align: justify;
}

.introduce .img-introduce {
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.introduce .right {
    padding: 0 30px;
    height: 700px;
    overflow: auto;
    overscroll-behavior: none;
    position: sticky;
    top: 100px;
}

.introduce .right .sub-title {
    padding: 10px 0;
    border-left: 15px solid var(--primary-color); 
    font-size: 2rem;
    text-align: center;
    background-color: #ededed;
    font-weight: bold;
    color: var(--color-text);
}

.introduce .course .item {
    margin: 20px 0;
    padding: 10px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #ededed;
    text-decoration: none;
    color: #000;
    position: relative;
}

.introduce .course .item .arrow {
    margin-left: auto;
    font-size: 3rem;
    color: var(--primary-color);
}

.introduce .course .item i {
    font-size: 3rem;
    padding-right: 20px;
}

.introduce .right .img-introduce {
    max-width: 100%;
}

.introduce .list-item .item {
    display: flex;
    object-fit: cover;
    align-items: center;
}

.introduce .list-item .posts {
    padding-left: 10px;
}

.introduce .posts a {
    text-decoration: none;
    text-align: justify;
    color: #000;
    word-spacing: 0.15rem;
}


/* =============================================== Ipad-Mobile ================================== */
@media(max-width: 1023px) {
    .introduce .title {
        font-size: 3rem;
    }
}

/* ================================================= Mobile ========================================== */
@media (max-width: 739px) {
    .introduce .course .item .arrow {
        font-size: 2rem;
    }
}